<style>
 #map {
	margin-top: 40px;
    height: 430px;    
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}
.inner-contact-area {
    padding: 40px;
    background: #eff7fb;
    margin-top: 50px;
}
</style>
<div class="container" id="newResPack" style="margin-top:20px;"   ng-controller="ContactUsController">
	<div class="row">
	  	 <div class="col-lg-4" style="{float:left;}" >
		 	<img src="../images/contact.png">
		 </div>
		 <div  class="col-lg-4" style="{f:right;}" >
			<h2 class="vcard">Contact our Staff</h2>
			<span style="display:block"></span>
		    <span style="display:block"><h3><strong>Huntsboro Properties</strong></h3></span>
			<span style="display:block">PO Box 43</span>
			<span style="display:block">Stephenville, TX 76401</span>
			<span style="display:block"><a href="http://www.huntsboro-properties.com">www.huntsboro-properties.com</a></span>
			<span style="display:block" > <a href="mailto:info@huntsboro-properties.com"> info@huntsboro-properties.com</a></span>
			<span style="display:block"  class="glyphicon glyphicon-earphone"> 254-592-6925</span>
			<span style="display:block" > <a href="mailto:mgr@huntsboro-properties.com"> mgr@huntsboro-properties.com</a></span>
			<span style="display:block"  class="glyphicon glyphicon-earphone"> 254-592-2122</span>
		</div>
		<div  class="col-lg-4" style="{f:right;}" >
			<h2 class="vcard">Our Agent</h2>
			<span style="display:block"></span>
		    <span style="display:block"><h3><strong>Joyce Holland</strong></h3></span>
		    <span style="display:block">1359 West South Loop, Suite C</span>
		    <span style="display:block">Stephenville, TX 76401</span>
			<span style="display:block"><a href="http://www.exitrealtystephenville.com/agents/2">http://www.exitrealtystephenville.com/agents/2</a></span>
			<span style="display:block" > <a href="mailto:joyce@hollandandassoc.com"> joyce@hollandandassoc.com</a></span>
			<span style="display:block"  class="glyphicon glyphicon-earphone"> 254-396-1504</span>
				
		</div>
	</div>
	<div class="row">
		<p style="margin-top:40px"><strong>Leave us a message and we will get back to you as soon as we can.</strong></p>
		<div class="container" style="margin-top:40px" >
			<div class="row">
				<div class="col-lg-6" >
	                    <form ng-submit="submitContactForm()" name="contactform" class="form-horizontal">
	                        <div class="form-group" ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
	                            <label for="inputName" class="col-lg-2 control-label">Name</label>
	                            <div class="col-lg-10">
	                                <input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="Your Name" required>
	                            </div>
	                        </div>
	                        <div class="form-group" ng-class="{ 'has-error': contactform.inputPhone.$invalid && submitted }">
	                            <label for="inputPhone" class="col-lg-2 control-label">Phone No.</label>
	                            <div class="col-lg-10">
	                                <input ng-model="formData.inputPhone" type="number" ng-minlength="10" ng-maxlength="10"  class="form-control" id="inputphone" name="inputPhone" placeholder="Your Phone" required>
<!-- 		                             <span class="help-block" ng-show="formData.inputPhone.$invalid.required || formData.inputPhone.$invalid.number">Valid phone number is required</span>
						             <span class="help-block" ng-show="((formData.inputPhone.$invalid.minlength || formData.inputPhone.$invalid.maxlength) && formData.inputPhone.$dirty) ">Phone number should be 10 digits</span>
 -->
	                            </div>
	                        </div>
	                        <div class="form-group" ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
	                            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
	                            <div class="col-lg-10">
	                                <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Your Email" required>
	                            </div>
	                        </div>
	                        <div class="form-group" ng-class="{ 'has-error': contactform.inputSubject.$invalid && submitted }">
	                            <label for="inputSubject" class="col-lg-2 control-label">Subject</label>
	                            <div class="col-lg-10">
	                                <input ng-model="formData.inputSubject" type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="Subject Message" required>
	                            </div>
	                        </div>
	                        <div class="form-group" ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
	                            <label for="inputMessage" class="col-lg-2 control-label">Message</label>
	                            <div class="col-lg-10">
	                                <textarea ng-model="formData.inputMessage" class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Your message..." required></textarea>
	                            </div>
	                        </div>
	                        <div class="form-group">
	                            <div class="col-lg-offset-2 col-lg-10">
	                                <button type="submit" class="btn btn-default" ng-disabled="submitButtonDisabled">
	                                    Send Message
	                                </button>
	                            </div>
	                        </div>
	                    </form>
	                    <p ng-class="result" style="padding: 15px; margin: 10px;">{{ resultMessage }}</p>
					</div>
			</div>

		</div>
	</div>	
	<div class="row">
			<div id="map" class="col-lg-12" style="margin-top:20px;" ></div>                    
	</div>
</div>	