     <div ng-controller="FloorplansearchCtrl">
	  <div class="col-lg-8 col-md-offset-3">
	   	<!-- <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre> -->
		    <h2>Find a Floor Plan</h2>
		    <form name="searchFloorForm" ng-submit="findFloorPlan()" >
		     	 <div class="form-group col-lg-4" ng-class="{ 'has-error': searchFloorForm.dt.$dirty && searchFloorForm.dt.$error.required }">
		            <label for="dt">Move-in Date *</label>
			              <input type="text" name="moveInDate" id="moveInDate" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions"  ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required/>
			              <span class="input-group-btn">
			                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
			              </span>
		            <span ng-show="searchFloorForm.dt.$dirty && searchFloorForm.dt.$error.required" class="help-block">Move-in Date is required</span>
		        </div>
		        <div class="form-group  col-lg-4" >
		            <label for="bedrooms">No. of Bedrooms</label>
		            	<select name="bedroom" id="beds" ng-model="bedsize" class="form-control" ng-options = "b.name for b in bedsizes">
					     <!--  <option value="-1">Any</option> 
					       <option value="1">1</option>
					       <option value="2">2</option>
					       <option value="3">3</option> -->
					    </select>
<!-- 					   <select name="bedroom" id="beds" ng-model="bedsize" class="form-control" ng-init="bedsize = -1" >
					      <option value="-1">Any</option> 
					       <option value="1">1</option>
					       <option value="2">2</option>
					       <option value="3">3</option>
					    </select> -->
					    <br>
		        </div>
		        <div class="form-group  col-lg-4" >
		            <label for="bathrooms">No. of Bathrooms</label>
		             <select name="bathroom" id="baths" ng-model="bathsize" class="form-control" ng-options = "b.name for b in bathsizes">
					      <option value="-1">Any</option> 
					       <option value="1">1</option>
					       <option value="2">2</option>
					       <option value="3">3</option>
					    </select>
					  <!--  <select name="bathroom" id="baths" ng-model="bathsize" class="form-control" >
					      <option value="-1">Any</option> 
					       <option value="1">1</option>
					       <option value="2">2</option>
					       <option value="3">3</option>
					    </select> --><br>
		        </div>
		        <div class="form-actions">
		            <button type="submit" ng-disabled="searchFloorForm.$invalid || dataLoading" class="btn btn-primary">Search</button>
		            <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
		        </div>
		    </form>
		    <div class="alert alert-success top-buffer" ng-show="showSuccessAlert">
				   <strong>{{statusMsg}}</strong> 
			</div>
			<div class="alert alert-danger top-buffer " ng-show="showFailureAlert">
				   <strong>{{errorMsg}}</strong> 
			</div>
		</div>
		
		<div ng-if="hasAvailableProperties" class="col-md-10 col-md-offset-2 top-buffer ">
		 <table ng-table="searchResultsTable" class="table table-bordered table-striped table-condensed">
	       <tr ng-repeat="result in data">
	       <!--  <td data-title="'Floor Layout'" ><a href="" ng-click="zoomImage(result.photo)">    	
	         <img src="{{result.photo}}" class="img-responsive img-thumbnail" width="150" height="150"/></a></td>
	        --> <td data-title="'Property Name'" >{{result.propertyName}}</td>
	        <td data-title="'Location'" >{{result.street}}, {{result.city}} {{result.state}} {{result.zip}} </td>
	        <td data-title="'Unit'" >{{result.unitNumber}}</td>
	        <td data-title="'Beds'" >{{result.rooms}}</td>
	        <td data-title="'Baths'" >{{result.bathroom}}</td>
	        <td data-title="'Rent'" >{{result.rentalAmount}}</td>
	        <td data-title="'Deposit'" >{{result.depositAmount}}</td>
	        <!-- <td data-title="'Sq.Ft.'" >{{result.size}}</td> -->
	        <td data-title="''" ><a href="" ng-click="viewDetails(result.id)">View Details</a></td>
	        <td data-title="''" ><button type="submit" class="btn btn-primary" ng-click="createApplication(result.id)">Apply Online</button></td>
	       </tr>
	      </table>
		</div>
	  
	  
	  	<div id="fp-view-details" ng-if="detail" class="col-md-8 col-md-offset-2 top-buffer ">
            <div class="text-center">
            	<div><h2>{{detail.propertyName}}</h2> </div>
                <div class="row">
                 <div class="col-sm-6">
                         <a href="" ng-click="zoomImage(detail.photo)"><img src="{{detail.photo}}" class="img-responsive img-thumbnail" width="304" height="236"/></a>
                   </div>
                    <div class="col-sm-6">
                            <div>
                               <table class="table">
	                    		<tbody>
	                    			<tr>
	                    				<td><strong>Bed</strong>
	                    				<td>{{detail.rooms}}</td>
	                    			</tr>
	                    			<tr>
	                    				<td><strong>Baths</strong>
	                    				<td>{{detail.bathroom}}</td>
	                    			</tr>
	                    			<tr>
	                    				<td><strong>Sq.Ft</strong>
	                    				<td>{{detail.size}}</td>
	                    			</tr>
	                    			<tr>
	                    				<td><strong>Features</strong>
	                    				<td>
	                    					<ul ng-bind-html="detail.features"></ul>
	                    				</td>
	                    			</tr>
	                    			<tr>
	                    				<td><strong>Location</strong>
	                    				<td>
	                    					{{detail.street}} , {{detail.city}}  {{detail.zip}}  {{detail.country}}  
	                    				</td>
	                    			</tr>

	                    		</tbody>
	                    	</table>

                            </div>
                           
                    </div>

                </div>
            </div><!--/details area-->
        </div>
        
     <!--  <modal title="Zoom Image" visible="showModal"> -->
        <!-- <div>
	      	<img src="{{detail.photo}}" ng-init="zoomWidth = 100;imgStyle = {width:'100px'}" ng-style="imgStyle" 
			ng-mouse-wheel-up="zoomWidth = zoomWidth + 20; imgStyle.width = zoomWidth +'px'; "  
			ng-mouse-wheel-down="zoomWidth = zoomWidth - 20;imgStyle.width = zoomWidth  +'px'; "/>
		</div> -->
	  <!-- </modal> -->
        
	  </div> <!--/controller-->
