<!-- <!DOCTYPE html>
<html ng-app="maintenanceApp">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>About Us | XYZ Company</title>

core CSS
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="../css/font-awesome.min.css" rel="stylesheet">
<link href="../css/prettyPhoto.css" rel="stylesheet">
<link href="../css/animate.min.css" rel="stylesheet">
<link href="../css/main.css" rel="stylesheet">
<link href="../css/responsive.css" rel="stylesheet">
<link href="../css/app.css" rel="stylesheet">
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-aria.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-messages.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
<script src="../js/ui-bootstrap-tpls-1.1.1.min.js"></script>
<script src="../app/controllers/maintenance.js"></script>

[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]
<link rel="shortcut icon" href="../images/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="../images/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="../images/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="../images/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed"
	href="../images/ico/apple-touch-icon-57-precomposed.png">
</head>
/head
<body>
	<header id="header">
		<div class="top-bar">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-xs-4">
						<div class="top-number">
							<p>
								<i class="fa fa-phone-square"></i> +0123 456 70 90
							</p>
						</div>
					</div>
					<div class="col-sm-6 col-xs-8">
						<div class="social">
							<ul class="social-share">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-skype"></i></a></li>
							</ul>
							<div class="search">
								<form role="form">
									<input type="text" class="search-form" autocomplete="off"
										placeholder="Search"> <i class="fa fa-search"></i>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			/.container
		</div>
		/.top-bar

		<nav class="navbar navbar-inverse" role="banner">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html"><img
						src="../images/logo.png" alt="logo"></a>
				</div>

				<div class="collapse navbar-collapse navbar-right">
					<ul class="nav navbar-nav">
						<li class="active"><a href="index.html">Home</a></li>
						<li><a href="#feature">Features</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown">Find an Apartment <i
								class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="floorplans.html">Floor Plans</a></li>
								<li><a href="amenities.html">Amenities</a></li>
								 <li><a href="404.html">404</a></li>
                                <li><a href="shortcodes.html">Shortcodes</a></li>
							</ul></li>
						<li><a href="#photo-gallery">Photos</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown">Residents <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu">
								<li class="active"><a href="maintenance.html">Maintenance
										Request</a></li>
								<li><a href="pricing.html">Pay Online</a></li>
								<li><a href="pricing.html">Roommate Finder</a></li>
								<li><a href="pricing.html">Resident Links</a></li>
								 <li><a href="404.html">404</a></li>
                                <li><a href="shortcodes.html">Shortcodes</a></li>
							</ul></li>
						<li><a href="about-us.html">About Us</a></li>
						<li><a href="contact-us.html">Contact</a></li>

						 <li><a href="blog.html">Blog</a></li>
						 <li><a href="contact-us.html">Contact</a></li>                        
					</ul>
				</div>
			</div>
			/.container
		</nav>
		/nav
		</header> -->
	
				<div class="col-center">
					<h2>Service Request</h2>
					<p class="lead">Thank you for taking the time to fill out our
						service request form. We strive for a 24-hour support completion
						on non-emergency concerns. Please select an item from the
						appropriate list and then fill out the detailed service summary.
						If this is an emergency, please contact our service team at our
						standard office number.</p>
				</div>

				<div class="container">

				<div class="alert alert-success" ng-show="showSuccessAlert">
				   <strong>{{statusMsg}}</strong> 
				 </div>
				 <div class="alert alert-danger" ng-show="showFailureAlert">
				   <strong>{{errorMsg}}</strong> 
				 </div>
				
					<div class="col-sm-8 col-center">
						<div class="row">

							<form name="maintenanceRequestForm" ng-submit="submitMaintenanceRequest()" method="post">
								<div class="form-group">
									<label for="request-name">First and Last Name*:</label>

									<div>
										<span class="name"><input type="text" name="name"
											value="" size="40" class="form-control" id="name" ng-model="name"
											required/></span>
									<span ng-show="maintenanceRequestForm.name.$dirty && maintenanceRequestForm.name.$error.required" class="help-block">First and Last Name is required</span>											
									</div>
								</div>
								<div class="form-group">
									<label for="property">Property Name*:</label>

									<div>
									<span> 
										<select name="propertyId" 
											id="property" ng-model="selectedPropertyId"
											ng-options="prop.id as prop.propertyName for prop in propertyList"
											class="form-control" required>
											<option value=""></option>
										</select>
									</span>
									<span ng-show="maintenanceRequestForm.propertyId.$dirty && maintenanceRequestForm.propertyId.$error.required" class="help-block">Property Name is required</span>
								  </div>
								</div>
								<div class="form-group">
									<label for="unit">Apartment Number*:</label>

									<div>
										<span class=" apartment-number">
											<select name="apartmentNum" ng-disabled="!unitsList" id="unit"
												ng-model="apartmentNum" 
												ng-options="unit.unitNumber as unit.unitNumber for unit in unitsList"
												class="form-control"  required>
												<option value=""></option>
											</select>
										</span>
										<span ng-show="maintenanceRequestForm.apartmentNum.$dirty && maintenanceRequestForm.apartmentNum.$error.required" class="help-block">Apartment Number is required</span>
									</div>
								</div>
								<div class="form-group">
									<label for="request-email">Email Address*:</label>
									</p>
									<div>
										<span class=" email"><input type="email" name="email"
											value="" size="40" class="form-control" id="email" ng-model="email"
											 required/></span>
									</div>
									<span ng-show="maintenanceRequestForm.email.$dirty && maintenanceRequestForm.email.$error.required" class="help-block">Email is required</span>
								</div>
								<div class="form-group">
									<label for="request-phone-num">Cell Phone Number:</label>
									</p>
									<div>
										<span class=" phone"><input type="text" name="phone"
											value="" size="40" class="form-control" id="phone" ng-model="cellPhone"
											 /></span>
									</div>
								</div>
								<div class="form-group">
									<label for="request-work-num">Work Phone Number:</label>
									</p>
									<div>
										<span class=" work-phone"><input type="text"
											name="work-phone" value="" size="40" class="form-control" ng-model="workPhone"
											id="work-phone" /></span>
									</div>
								</div>
								<div class="form-group">
									<label for="location">Service Request Location:</label>
									</p>
									<div>
										<span class="location"><select name="location" ng-model="maintenanceLocation" id="location"
											class="form-control"><option
													value=""></option>
												<option value="Bathroom">Bathroom</option>
												<option value="Bedroom">Bedroom</option>
												<option value="Community">Community</option>
												<option value="Garage">Garage</option>
												<option value="Kitchen">Kitchen</option>
												<option value="Living Room">Living Room</option>
												<option value="Master Bedroom">Master Bedroom</option>
												<option value="Miscellaneous Unit">Miscellaneous Unit</option>
												<option value="Patio/Balcony">Patio/Balcony</option></select></span>
									</div>
									<span ng-show="maintenanceRequestForm.location.$dirty && maintenanceRequestForm.location.$error.required" class="help-block">Maintenance Location is required</span>
								</div>

								<div class="form-group">
									<label for="summary">Service Summary*:</label>
									</p>
									<div>
										<span class=" summary"><textarea name="summary" id="summary"  cols="40" rows="10" class="form-control" ng-model="summary" required></textarea></span>
									</div>
									<span ng-show="maintenanceRequestForm.summary.$dirty && maintenanceRequestForm.summary.$error.required" class="help-block">Service Summary is required</span>
								</div>
								<div class="form-group">
									<label for="emergency">Is this	Request an Emergency?*</label>
									</p>
									<div >
										<span class="emergency">
										<select name="emergency" ng-model="isEmergency" id="emergency"
											class="form-control" required>
											<option value=""></option>
												<option value="No">No</option>
												<option value="Yes">Yes</option></select></span>
									</div>
									<span ng-show="maintenanceRequestForm.emergency.$dirty && maintenanceRequestForm.emergency.$error.required" class="help-block">Field is required</span>
								</div>
								<div class="form-group">
									<label for="request-enter">Permission to Enter Apartment*:</label>
									</p>
									<div>
										<span class=" permission"><select name="permission" ng-model="hasPermission"
											class="form-control" required><option value=""></option>
												<option value="No">No</option>
												<option value="Yes">Yes</option></select></span>
									</div>
									<span ng-show="maintenanceRequestForm.permission.$dirty && maintenanceRequestForm.permission.$error.required" class="help-block">Field is required</span>
								</div>
								<div class="form-group">
									<div>
										<input type="submit" value="Submit" class="btn btn-primary"	id="submit" />
										<a href="#/residenthome" class="btn btn-link">Cancel</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

		
		
		<!--  <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Copyright</a></li>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>    
                </div>/.col-md-3
            </div>
        </div>
    </section>/#bottom

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2015 <a target="_blank" href="http://xyzproperties.net/" title="">XYZ Company</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>/#footer
		
</body>
</html> -->
